.docsContent {
    min-height: 100%;

    > .contents {
        padding: 2.5rem;
    }

    @media (max-width: 900px) {
        > .contents {
            padding: 1.5rem;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        line-height: 1.25;
        margin: 0.5em 0;
        scroll-margin-top: 6.5rem;
    }

    p {
        display: block;
        line-height: 1.75;
        margin: 0.5em 0;
    }

    a {
        text-decoration: none;
        color: #588bf2;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    code {
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        -moz-tab-size: 4;
        tab-size: 4;
        -webkit-hyphens: none;
        hyphens: none;
        background: rgba(34, 34, 34, 0.345);
    }

    blockquote {
        display: block;
        background: rgba(70, 70, 70, 0.3);
        border-left: 5px solid #606060;
        border-radius: 5px;
        padding: 1rem;
    }

    pre {
        background: #1e1e1e;
        display: block;
        padding: 1em;
        overflow-x: auto;
        border-radius: 4px;
        line-height: 1.5;

        .hljs-comment,
        .hljs-title {
            color: #999999;
        }

        .hljs-variable,
        .hljs-attribute,
        .hljs-attr,
        .hljs-tag,
        .hljs-regexp,
        .hljs-property {
            color: #f2777a;
        }

        .hljs-number,
        .hljs-literal,
        .hljs-params,
        .hljs-constant {
            color: #f99157;
        }

        .class_,
        .hljs-built_in {
            color: #ffcc66;
        }

        .hljs-string,
        .hljs-value,
        .hljs-inheritance,
        .hljs-header {
            color: #99cc99;
        }

        .function_,
        .js .hljs-title,
        .ts .hljs-title {
            color: #6699cc;
        }

        .hljs-keyword,
        .hljs-function,
        .function_ {
            color: #cc99cc;
        }
    }

    .content-description {
        margin-bottom: 1rem;
        color: #cbcbcb;
    }

    hr {
        margin: 2rem 0 0.5rem 0;
        border: none;
        border-bottom: solid 0.5px #3c3c3c;
    }

    .content-label {
        font-size: 1.8rem;
        font-weight: 600;
        margin: 1rem 0;
    }

    .deprecation-warning {
        padding: 0.5rem;
        margin: 1rem 0;
        background: rgba(190, 42, 42, 0.3);
        border-radius: 5px;
        border-left: 5px solid rgba(190, 42, 42, 1);

        a {
            color: currentColor;
            text-decoration: underline;
        }
    }

    .nowrap-code-md {
        pre {
            white-space: normal !important;

            code {
                white-space: inherit !important;
            }
        }
    }

    .content-title {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        scroll-padding-top: 4rem;

        a {
            text-decoration: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        a.source {
            flex-shrink: 0;
            line-height: 1;
            width: 1.5rem;
            text-align: right;
            color: #828282;
        }

        .params .param-contents {
            opacity: 0.6;
        }

        .tags {
            display: flex;
            align-items: center;
            margin-left: 0.5rem;

            .tag {
                display: inline-block;
                padding: 0.2rem 0.5rem;
                margin-right: 0.5rem;
                font-size: 0.7rem;
                border-radius: 100px;
                background: #5865f2;
                text-transform: uppercase;

                &::before {
                    content: attr(data-content);
                }

                &[data-content="deprecated"] {
                    background: rgba(190, 42, 42, 1);
                }
            }
        }
    }
}